@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --text-color: #777777;
    --gradient-color: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
/* background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; */
h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins';
}
p,a,input,label,textarea,span,ul,li{
    font-family: "Poppins";
}
body {
    z-index: -1;
    background: url("../img/bodybg.png");
    background-attachment: fixed;
    color: white;
}
header nav {
    font-size: 1rem;
    background: #222;
    padding: 0 15px;
}
header nav a {
    color: white;
    text-decoration: none;
}
header nav .menu {
    list-style-type: none;
}

header nav .logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0px;
    font-size: 2rem;
}

header nav .item {
    padding: 10px;
}
header nav .item.button {
    padding: 9px 5px;
}

.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}

header nav .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header nav .menu li a {
    display: block;
    padding: 15px 5px;
    transition: all 0.3s ease 0s;
}

header nav .toggle {
    order: 1;
    font-size: 1.5rem;
}

header nav .item.button {
    order: 2;
}

header nav .item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
    
}

header nav .opened .item {
    display: block;
}
header nav .btn-nav {
    border-bottom: 1px #444 solid;
}

#banner .container{
    height: 50rem;
    width: auto;
}
#banner .container .banner-title{
    padding: auto 30px;
    text-align: center;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    line-height: 1.0;
    opacity: 1.0;
} 
#banner .banner-word {
    color: white;
    transition: color 0.3s;
}
@keyframes word {
    0% {transform: scale(1, 1);}
    45% {transform: scale(1.3, .5);}
    75% {transform: scale(1, 1.5);}
    100% {transform: scale(1, 1);}
}
#banner .banner-word:hover{
    display: inline-block;
    transform: scale(1, 1);
    cursor: pointer;
    animation-name: word;
    animation-duration: 0.3s;
    animation-direction: forwards; 
    color: #00f9ff;
}




#banner .container .banner-title h3{
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);

}

#banner .container .banner-title h1 {
    font-size: 90px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 5px;
    margin: 0.6rem 0 0.4rem 0;
    
}

#about img {
    width: 379.984px;
    justify-content: start;
}

#about {
    margin: 7rem auto;
    width: 70%;
    height: 100%;
} 
#about .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}
#about .grid-container .text-grid h1{
    font-size: 180px;
    position: absolute;
    text-transform: uppercase;
    font-weight: 900;
    bottom: -105px;
    left: -100px;
    color: rgba(255, 255, 255, 0.08)
    

}
#about .grid-container .text-grid h3{
    text-align: left;
    font-size: 2rem;
    font-weight: normal;
    margin-bottom:  60px;
    
}

#about .grid-container .text-grid .about-title{
    position: relative;
    text-align: right;
}

#about .grid-container .text-grid .about-text {
    line-height: 2;
    color: #8c8c8c;
    font-size: 18px;
}
#about .grid-container .text-grid .about-contact {
    margin-top: 1rem;
}
#about .grid-container .text-grid .about-contact .about-resume a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #00f9ff;
    
}
#about .about-contact i{
    font-size: 1.5rem;
    color: white;
    transition: color 0.3s;
}
#about .about-contact .co{
    margin: 0 0.9rem 0 0;  
    
}
#about .buttons {
    margin-top: 20px;
}
#about .img-grid {
    align-self: center;
}

#about .about-email {
    padding-top: 1.5rem;
}
#about .about-email p{
    word-spacing: 2px;
    font-size: 16px;
    line-height: 2.5;
}

#about .about-contact a:hover i{
    color: #00f9ff;
}
















@media all and (max-width: 1385px) {
    #about img {
        max-width: 100%;
        height: auto;
    }
    #about .grid-container .text-grid h1{
        font-size: 180px;
        position: absolute;
        text-transform: uppercase;
        font-weight: 900;
        bottom: -105px;
        left: -100px;
        color: rgba(255, 255, 255, 0.08);
        display: none;
    
    }
    #about .text-grid {
        margin-left: 3rem;
    }

}

@media all and (max-width: 700px) {
    #about .grid-container {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: auto;
    }
    #about .text-grid {
        margin: 0;
    }
    #about .img-grid {
        height: auto;
    }
    #about .text-grid{
        padding-top: 3rem;
    }

    #about .about-contact .about-resume{
        margin: 1.5rem 0 1rem 0;
    }
    
}




@media all and (min-width: 700px) {
    header nav .menu {
        justify-content: center;
    }
    header nav .logo {
        flex: 1;
    }
    header nav .toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }
    #about .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    
    
    
}

@media all and (min-width: 960px) {
    
    header nav .item{
        order: 1;
        position: relative;
        display: block;
        width: auto;
        font-size: 1.3rem;
    }
    header nav .toggle {
        display: none;
    }
    header nav .menu .item.active a{
        color: #00f9ff;
    }
    .item:not(.button) a:hover,
    .item a:hover::after {
        color: #00f9ff;
    }

    
    
    
}
#services {
    margin: 14rem auto 7rem auto;
    width: 70%;
    height: 100%;
}

#services .services-title p {
    opacity: 0.4;
    text-transform: uppercase;
    font-size: 1.2rem;
}

#services .services-title {
    text-align: center;
    line-height: 40px;
}

#services .services-title h3 {
    font-size: 4rem;
    text-align: center;
    line-height: 5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    
}
#services .services-title h3 .banner-word:hover{
    display: inline-block;
    transform: scale(1, 1);
    cursor: pointer;
    animation-name: word;
    animation-duration: 0.3s;
    animation-direction: forwards; 
    color: #00f9ff;
}
#services .services-services .card i {
    font-size: 5rem;
}
#services .services-services {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 100px;
}
#services .services-services .card {
    transition: 0.3s ease;
    justify-self: center;
    text-align: center;
    width: 300px;
    background-color: rgb(34, 34, 34);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 40px 30px;
    margin: 0 2rem 3rem 2rem;
}
#services .services-services .card h3 {
    margin: 10px 10px 5px 10px;
    font-size: 20px;
}
#services .services-services .card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6)
}

#services .services-services .card h3 {
    margin-top: 20px;
}

@media all and (max-width: 700px) {
    #services .services-title h3 {
        font-size: 3.2rem;
        line-height: 1.5;
    }
}

.loader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(34, 34, 34);
    z-index: 1000;
}
.loader .ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
}
.loader .ring::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid #66fcf1;
    border-right: 3px solid #66fcf1;
    border-radius: 50%;
    animation: animateCircle 2s linear infinite;
}

.loader .ring span {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
}

.loader .ring span::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 16px;
    border-radius: 50%;
    background: #66fcf1;
    top: -8px;
    right: -8px;
    box-shadow: 0 0 20px #66fcf1;
}

@keyframes animateCircle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes animate {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
.loader .loader-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 5px;
    margin: 0.6rem 0 0.4rem 0;
}
@keyframes fadeOut{
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
#projects .projects-title {
    text-align: center;
}
#projects .projects-title h3{

    font-size: 4rem;
    text-align: center;
    line-height: 5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}
#projects {
    margin: 14rem auto 7rem auto;
    width: 70%;
}
#projects .projects-title h3 .banner-word:hover {
    display: inline-block;
    transform: scale(1, 1);
    cursor: pointer;
    animation-name: word;
    animation-duration: 0.3s;
    animation-direction: forwards; 
    color: #66fcf1;
}

#projects .projects-title p{
    opacity: 0.4;
    text-transform: uppercase;
    font-size: 1rem;
}
#projects .projects-project {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
/* Peak Client */
#projects .projects-project .projects-card-peakclient h5{
    font-size: 1.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s;
}
#projects .projects-project .projects-card-peakclient {
    background-color: rgb(48, 48, 48);
    text-align: center;
    position: relative;
    width: 17rem;
    height: 9rem;
    border-radius: 8px;
    transition: all 0.5s;
    overflow: hidden;
    
    
}
#projects .projects-project .projects-card-peakclient:hover {
    background-color: rgb(224, 77, 63);
}
#projects .projects-project .projects-card-peakclient:hover h5 {
    transform: translate(-68px, -60px);
}
#projects .projects-project .projects-card-peakclient .p-peakclient{
    background: rgb(190, 64, 53);
    transform: translateY(10rem);
    height: 2.3rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#projects .projects-project .projects-card-peakclient:hover .p-peakclient{
    transform: translateY(290%);
    opacity: 1;
    position: relative;
    
}
#projects .projects-project .projects-card-peakclient .p-peakclient p {
    font-style: italic;
}
/*OT*/
#projects .projects-project .projects-card-ot h5{
    font-size: 1.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s;
}
#projects .projects-project .projects-card-ot {
    background-color: rgb(48, 48, 48);
    text-align: center;
    position: relative;
    width: 17rem;
    height: 9rem;
    border-radius: 8px;
    transition: all 0.5s;
    overflow: hidden;
    
    
}
#projects .projects-project .projects-card-ot:hover {
    background-color: rgb(79, 192, 236);
}
#projects .projects-project .projects-card-ot:hover h5 {
    transform: translate(-68px, -60px);
}
#projects .projects-project .projects-card-ot .p-ot{
    background: rgb(63, 152, 187);
    transform: translateY(10rem);
    height: 2.3rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#projects .projects-project .projects-card-ot:hover .p-ot{
    transform: translateY(290%);
    opacity: 1;
    position: relative;
    
}
#projects .projects-project .projects-card-ot .p-ot p {
    font-style: italic;
}
/*Ecom Demo*/
#projects .projects-project .projects-card-ecom h5{
    font-size: 1.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s;
}
#projects .projects-project .projects-card-ecom {
    background-color: rgb(48, 48, 48);
    text-align: center;
    position: relative;
    width: 17rem;
    height: 9rem;
    border-radius: 8px;
    transition: all 0.5s;
    overflow: hidden;
}
#projects a{
    text-decoration: none;
}
#projects .projects-project .projects-card-ecom:hover {
    background-color: rgb(137, 47, 240);
}
#projects .projects-project .projects-card-ecom:hover h5 {
    transform: translate(-68px, -60px);
}
#projects .projects-project .projects-card-ecom .p-ecom{
    background: rgb(89, 30, 156);
    transform: translateY(10rem);
    height: 2.3rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#projects .projects-project .projects-card-ecom:hover .p-ecom{
    transform: translateY(290%);
    opacity: 1;
    position: relative;
    
}
#projects .projects-project .projects-card-ecom .p-ecom p {
    font-style: italic;
}
#projects .projects-project .projects-card {
    cursor: pointer;
}

#projects .projects-project .projects-card-ecom .p-ecom p a{
    color: white;
}
/* App demo */
#projects .projects-project .projects-card-app h5{
    font-size: 1.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s;
}
#projects .projects-project .projects-card-app {
    background-color: rgb(48, 48, 48);
    text-align: center;
    position: relative;
    width: 17rem;
    height: 9rem;
    border-radius: 8px;
    transition: all 0.5s;
    overflow: hidden;
    
    
}
#projects .projects-project .projects-card-app:hover {
    background-color: rgb(16, 16, 221);
}
#projects .projects-project .projects-card-app:hover h5 {
    transform: translate(-68px, -60px);
}
#projects .projects-project .projects-card-app .p-app{
    background: rgb(11, 11, 145);
    transform: translateY(10rem);
    height: 2.3rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#projects .projects-project .projects-card-app:hover .p-app{
    transform: translateY(290%);
    opacity: 1;
    position: relative;
    
}
#projects .projects-project .projects-card-app .p-app p {
    font-style: italic;
}
#projects .projects-project .projects-card {
    cursor: pointer;
    color: white;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
}

#projects .projects-project .projects-card-app .p-app p a{
    color: white;
    text-decoration: underline;
}

#contact {
    margin: 14rem auto;
    width: 70%;
    display: flex;
    flex-direction: column;
}
#contact .contact-title {
    text-align: center;
}
#contact .contact-title h3{

    font-size: 4rem;
    text-align: center;
    line-height: 5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}
#contact .contact-title h3 .banner-word:hover {
    display: inline-block;
    transform: scale(1, 1);
    cursor: pointer;
    animation-name: word;
    animation-duration: 0.3s;
    animation-direction: forwards; 
    color: #66fcf1;
}

#contact .contact-title p{
    opacity: 0.4;
    text-transform: uppercase;
    font-size: 1rem;
}
#contact .contact-contact{
    width: 100%;
    background: rgb(48, 48, 48);
    display: flex;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;

}
#contact .contact-contact .contactForm {
    width: 50%;
    display: flex;
    flex-direction: column;
    width: 40%;
}
#contact .contact-contact h2{
    font-size: 2rem;
    margin-bottom: 10px;
}
#contact .contact-contact .contact-info {
    display: flex;
    flex-direction: column;
}
#contact .contact-contact .contact-info .boxx {
    display: flex;
    position: relative;
    margin-bottom: 1.5rem;
}
#contact .contact-contact .contact-info .boxx .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    color: #000;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.3rem;
}
#contact .contact-contact .contact-info .boxx .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
#contact .contact-contact .contact-info .boxx .text h4{
    font-weight: 500;
    color: #66fcf1;
}
#contact .contactForm h2{
    font-weight: 500;
    font-size: 2rem;
}
#contact .contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
#contact .contactForm .inputBox input,
#contact .contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 1rem;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid rgb(235, 235, 235);
    outline: none;
    background: transparent;
    color: rgb(235, 235, 235);
    resize: none;
}
#contact .contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 1rem;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
#contact .contactForm .inputBox .sub {
    background-color: rgb(34, 34, 34);
}
#contact .contactForm .inputBox input:focus ~ span,
#contact .contactForm .inputBox input:valid ~ span,
#contact .contactForm .inputBox textarea:focus ~ span,
#contact .contactForm .inputBox textarea:valid ~ span{
    color: #66fcf1;
    font-size: 0.8rem;
    transform: translateY(-20px);
}
#contact .contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: #4cc0b8;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1rem;
}
@media (max-width: 895px) {
    .contact-contact {
        flex-direction: column;
    }
    #contact  .contact-contact .contactForm {
        margin-bottom: 43px;
        width: 90%;
    }
    #contact  .contact-contact .contact-info {
        width: 90%;
        justify-content: center;
    }

}
@media (max-width: 531px) {
    #contact .contact-contact .contact-info .boxx {
        display: flex;
        position: relative;
    }
    #contact .contact-contact .contact-info .boxx .icon {
        display: none;
    }
    #contact .contact-contact .contact-info .boxx .text {
        display: flex;
        font-size: 16px;
        color: #fff;
        flex-direction: column;
        font-weight: 300;
        
        margin: 0;
    }
    #contact .contact-contact .contact-info .boxx .text h4{
        font-weight: 500;
        color: #66fcf1;
    }
    #contact .contact-contact .contact-info .boxx .text p{
        font-size: 0.5rem;
    }
    #contact .contact-contact .contact-info {
        width: 100%;
        align-items: center;
        justify-items: center;
        text-align: center;
    }
}










